.slide-main-image
  width: 100%
  height: 100vh
  overflow: hidden
  background-image: url('/img/james-connolly-363036-unsplash.jpg')
  background-repeat: no-repeat
  background-position: 25% 0%
  background-size: 120%
  background-attachment: fixed
