@import 'slide_01/animated-block'
@import 'slide_01/animated-text'
@import 'slide_01/welcome-container'
@import 'slide_01/social-networking'

.slide-01
  .sidebar
    padding-top: 2rem
    padding-left: 2rem
    position: relative
    height: 100%

    .menu-toggler
      position: absolute
      z-index: 99
      left: 1rem
      top: 50%
      transform: translateY(-50%)
      cursor: pointer
      padding: .5rem
      transition: all .75s ease-in-out
      &:hover
        background-color: darken($accent, 4%)

    .title
      font-size: 1rem
      text-transform: uppercase
      letter-spacing: 2px
      font-weight: 600

  .slide-main-image
    width: calc(100% - 2rem)
    height: calc(100vh - 4rem)
    position: relative
    margin-top: 2rem
    background-image: url('/img/screen_figma_one-dark.png')
    background-repeat: no-repeat
    background-position: 300px 50%
    background-size: cover
    background-attachment: fixed
    transition: all 1.5s ease-in-out

  &.active
    .animated-block
      transform: translateX(0px)
    .animated-text
      transform: translateX(0px)
    .slide-main-image
      background-position: 0% 50%
    .social-networking
      bottom: 0
