.header
  .header-menu
    .row
      .col-lg-8
        .row
          .col-2
            a(href="#" onClick="prlx.setSlide(1)" ).header-menu-item.active
              p.menu-item-number 01
              p.menu-item-text Home
          .col-2
            a(href="#" onClick="prlx.setSlide(2)" ).header-menu-item
              p.menu-item-number 02
              p.menu-item-text About
          .col-2
            a(href="#" onClick="prlx.setSlide(3)" ).header-menu-item
              p.menu-item-number 03
              p.menu-item-text Latest
          .col-2
            a(href="#" onClick="prlx.setSlide(4)" ).header-menu-item
              p.menu-item-number 04
              p.menu-item-text Portfolio
          .col-2
            a(href="#" onClick="prlx.setSlide(5)" ).header-menu-item
              p.menu-item-number 05
              p.menu-item-text Sketches
          .col-2
            a(href="#" onClick="prlx.setSlide(6)" ).header-menu-item
              p.menu-item-number 06
              p.menu-item-text Contact
