<div class="main-sidebar">

  <h3 class="title">Dexa Studio</h3>

  <div class="slides-toggler">
    <span class="toggle-slide slide_01 active" onClick="prlx.setSlide(1)"></span>
    <span class="toggle-slide slide_02" onClick="prlx.setSlide(2)"></span>
    <span class="toggle-slide slide_03" onClick="prlx.setSlide(3)"></span>
    <span class="toggle-slide slide_04" onClick="prlx.setSlide(4)"></span>
    <span class="toggle-slide slide_05" onClick="prlx.setSlide(5)"></span>
    <span class="toggle-slide slide_06" onClick="prlx.setSlide(6)"></span>
  </div>

  <div class="menu-toggler">
    <span class="oi" data-glyph="menu"></span>
  </div>

  <div class="social">
    <i class="fab fa-behance pr-3"></i>
    <i class="fab fa-dribbble pr-3"></i>
    <i class="fab fa-twitter"></i>
  </div>

</div>
