<div class="slide-toggler">
  <div class="toggle toggle-01">
    <button class="btn btn-sm btn-primary btn-slide-toggler" onClick="prlx.setSlide(1)">01</button>
  </div>
  <div class="toggle toggle-02">
    <button class="btn btn-sm btn-primary btn-slide-toggler" onClick="prlx.setSlide(2)">02</button>
  </div>
  <div class="toggle toggle-03">
    <button class="btn btn-sm btn-primary btn-slide-toggler" onClick="prlx.setSlide(3)">03</button>
  </div>
  <div class="toggle toggle-04">
    <button class="btn btn-sm btn-primary btn-slide-toggler" onClick="prlx.setSlide(4)">04</button>
  </div>
  <div class="toggle toggle-05">
    <button class="btn btn-sm btn-primary btn-slide-toggler" onClick="prlx.setSlide(5)">05</button>
  </div>
  <div class="toggle toggle-06">
    <button class="btn btn-sm btn-primary btn-slide-toggler" onClick="prlx.setSlide(6)">06</button>
  </div>
</div>
