.slides-container

  .slide.slide-01

    .slide-content SLIDE 01
      .slide-main-image
        //- img( src="/img/mountains.jpg" )
    .slide-content--block
      img.slide-content--block-img( src="/img/green_leaves_PNG3678.png" )



  .slide.slide-02
    .slide-content SLIDE 02
  .slide.slide-03
    .slide-content SLIDE 03
  .slide.slide-04
    .slide-content SLIDE 04
    .slide-content--block
      img.slide-content--block-img( src="/img/l01.png" )
  .slide.slide-05
    .slide-content SLIDE 05
    
    .slide-content--block
      img.slide-content--block-img( src="/img/l02.png" )
  .slide.slide-06
    .slide-content SLIDE 06
