.slides-container

  .slide.slide-01
    include ./slides/slide_01
  
  .slide.slide-02
    .slide-content SLIDE 02
  .slide.slide-03
    .slide-content SLIDE 03
  .slide.slide-04
    .slide-content SLIDE 04
    .slide-content--block Slide 04 text
  .slide.slide-05
    .slide-content SLIDE 05
    .slide-content--block Slide 05 text
  .slide.slide-06
    .slide-content SLIDE 06
