.slides-container

  .slide.slide-01
    .slide-content SLIDE 01
    .slide-content--block A
    .slide-content--block B
  .slide.slide-02
    .slide-content SLIDE 02
  .slide.slide-03
    .slide-content SLIDE 03
  .slide.slide-04
    .slide-content SLIDE 04
    .slide-content--block C
  .slide.slide-05
    .slide-content SLIDE 05
  .slide.slide-06
    .slide-content SLIDE 06
