.slides-container

  .slide.slide-01
    .header.container
      .header-menu
        .row
          .col-md-2
            .menu-item
              p.menu-item-number 00
              p.menu-item-text Home
          .col-md-2
            .menu-item
              p.menu-item-number 01
              p.menu-item-text About me
          .col-md-2
            .menu-item
              p.menu-item-number 02
              p.menu-item-text Latest work
          .col-md-2
            .menu-item
              p.menu-item-number 03
              p.menu-item-text Portfolio
          .col-md-2
            .menu-item
              p.menu-item-number 04
              p.menu-item-text Contacts
        
    .slide-content.container SLIDE 01
  .slide.slide-02
    .slide-content SLIDE 02
  .slide.slide-03
    .slide-content SLIDE 03
  .slide.slide-04
    .slide-content SLIDE 04
  .slide.slide-05
    .slide-content SLIDE 05
  .slide.slide-06
    .slide-content SLIDE 06
