<header class="header">
  HEADER
</header>

<main class="main">

  <div class="slides-container">

    <div class="slide slide-01">
      <div class="slide-content">SLIDE 01</div>
    </div>

    <div class="slide slide-02">
      <div class="slide-content">SLIDE 02</div>
    </div>

    <div class="slide slide-03">
      <div class="slide-content">SLIDE 03</div>
    </div>

    <div class="slide slide-04">
      <div class="slide-content">SLIDE 04</div>
    </div>

    <div class="slide slide-05">
      <div class="slide-content">SLIDE 05</div>
    </div>

  </div>

</main>
