extend layouts/main

block content
  h1.title Testing 05
  p.sub-title test
  p.sub-tit very

  .container
    .row
      .col-sm-3.bg
        h3 1
      .col-sm-3.bg
        h3 2
      .col-sm-3.bg
        h3 3
      .col-sm-3.bg
        h3 4
