extend layouts/main

block content
  .container
    .test-header
      h1.title Testing 05
      p.sub-title test
      p.sub-tit very

  
    .row.uk-margin-medium
      .col-md-6
        .card Item
      .col-md-6
        .card Item
    .row.uk-margin-medium
      .offset-md-2.col-lg-2
        .card Item
      .col-lg-2
        .card Item
      .offset-md-2.col-lg-2
        .card Item
      .col-lg-2
        .card Item
      
