extend layouts/main

block content
  .uk-container
    .test-header
      h1.title Testing 05
      p.sub-title test
      p.sub-tit very

  
    .uk-grid.uk-grid-small.uk-text-center(class="uk-child-width-expand@s", uk-grid )
      div
        .uk-card.uk-card-default.uk-card-body Item
      div
        .uk-card.uk-card-default.uk-card-body Item
      div
        .uk-card.uk-card-default.uk-card-body Item
