.main
  overflow: hidden

  .slides-container
    display: flex
    position: relative
    left: 0

  .slide
    height: 100vh
    width: 100vw
    display: flex

    &.slide-01
      background-color: #FFBE0B
    &.slide-02
      background-color: #FB5607
    &.slide-03
      background-color: #FF006E
    &.slide-04
      background-color: #8338EC
    &.slide-05
      background-color: #3A86FF

    .slide-content
      margin: auto
      font-size: 80px
      font-weight: 300
      color: white
