.slide-container.container-fluid
  .row
    .col-md-2
      include ./slide_01/sidebar.pug
    .col-md-10
      .slide-main-image
        
  .animated-text Fast. Clear. Stylish
  
  .animated-block.ps-block
    .ps-block-inner We inspire. We build. We create.
