.slide-container.container-fluid
  .row
    .col-md-1
      .welcome-container
        .welcome-block
          h3
            span.welcome-title Something Awesome!
          
          p.welcome-text Working with our creative digital agency can often feel like a mystery you talk about a project & out the other side come same ideas and an end product. Over the last four years we have working hard to put a process in place that helps to explain how we produce our ideas.
    
          .text-right
            button.btn.btn-dark
              span View Details 
              span.oi(data-glyph="arrow-right")

          .slide-control.prev-slide
            span.oi(data-glyph="chevron-left")

          .slide-control.next-slide
            span.oi(data-glyph="chevron-right")

    .col-md-11
      .slide-main-image
        
  .animated-text Fast. Clear. Stylish
  
  .animated-block.ps-block
    .ps-block-inner We inspire. We build. We create.
