<div class="slide-container container-fluid">

  <div class="row">
    <div class="col-md-2">
      <div class="sidebar">
        <h3 class="title">Dexa Studio</h3>

        <div class="welcome-container">

          <div class="welcome-block">
            <h3 class="welcome-title">Something Awesome</h3>
            <p class="welcome-text">
              Working with our creative digital agency can often feel like a mystery you talk about a project & out the other side come same ideas and an end product. Over the last four years we have working hard to put a process in place that helps to explain how we produce our ideas.
            </p>
            <div class="text-right">
              <button class="btn btn-dark">
                View Details
                <span class="oi" data-glyph="arrow-right"></span>
              </button>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-md-10">
      <div class="slide-main-image"></div>
    </div>
  </div>

</div>

<div class="animated-text">
  Animated text
</div>
