.slide-container.container-fluid
  
  .row.slide-content-wrapper
    .col-md-8.p-0
      .panel.panel-features.ml-6
        h3.panel-title We are focused on:

        .row.mb-6
          .col-sm-6
            
            ul.panel-list
              li
                a(href="#") App Design
                a(href="#") Web design
                a(href="#") Prototyping
                a(href="#") Motion design
                a(href="#") Frontend

          .col-sm-6
            .panel-description
              p.panel-description-text Creative solutions and strategy for clients and agencies, with a special focus on digital channels. Working together with a broad team of collaborators that we tailor-match for each project.

        .examples-block
          .row
            .col-6
              .examples-description
                p.examples-description-text Creative solutions and strategy for clients and agencies, with a special focus on digital channels. Working together with a broad team of collaborators that we tailor-match for each project.
                
          img.example-image.example-image-01(src="/img/iPhoneX_dark.png")
          img.example-image.example-image-02(src="/img/iPhoneX_white.png")
    
    
    
    .col-md-4.p-0
      .top-image
