.slide-container.container-fluid
  .row
    .col-md-6
      .panel.panel-features
        h3.panel-title We are focused on:
        
        ul.panel-list
          li
            a(href="#") App Design
            a(href="#") Web design
            a(href="#") Prototyping
            a(href="#") Motion design
            a(href="#") Frontend
    .col-md-6 Other
