.slide-container.container-fluid
  .row
    .col-md-1
      include ./slide_01/welcome-container.html
    
    .col-md-11
      .slide-main-image
        
  .animated-text Fast. Clear. Stylish
  
  .animated-block.ps-block
    .ps-block-inner We inspire. We build. We create.
