.row
  .col-md-8
    .slide-content.container-fluid
      .board-story
        p.slide-label
          span.blinking-fast [
          span.animate-text-01A occupational designation
          span.blinking-fast ]
        .board-story-block
          .story-text.dot-pattern
            p.mb-0.animate-text-01B.animate-text Developer
            p.mb-0.animate-text-01C.animate-text Designer
          a(href="#").button-wrapper
            span.oi(data-glyph="chevron-right")

      .board-story
        p.slide-label
          span.blinking-fast [
          span.animate-text-02A specialization
          span.blinking-fast ]
        .board-story-block
          .story-text.lines-pattern
            p.mb-0.animate-text-02B.animate-text User interfaces, motion and interaction
            p.mb-0.animate-text-02C.animate-text User experience research
            p.mb-0.animate-text-02D.animate-text Prototyping
          a(href="#").button-wrapper
            span.oi(data-glyph="chevron-right")

      .board-story
        p.slide-label
          span.blinking-fast [
          span.animate-text-03A occupational status
          span.blinking-fast ]
        .board-story-block
          .story-text.dot-pattern
            p.mb-0.animate-text-03B.animate-text Fulltime / freelance
          a(href="#").button-wrapper
            span.oi(data-glyph="chevron-right")

  .col-md-4.image-side
    .lines-pattern.arrow-right-slide( onClick="prlx.setSlide(2)" )
      img.arrow-img.blinking(src="/img/arrow-right.png")
