.row
  .col-md-8
    .slide-content.container-fluid
      .board-story
        p.slide-label
          span.blinking-fast [
          span.animate-text-01A occupational designation
          span.blinking-fast ]
        .board-story-block
          .story-text.dot-pattern
            h1.mb-0.animate-text-01B Developer
            h3.mb-0.animate-text-01C Designer
          .button-wrapper
            span.oi(data-glyph="chevron-right")

      .board-story
        p.slide-label
          span.blinking-fast [
          span.animate-text-02A specialization
          span.blinking-fast ]
        .board-story-block
          .story-text.dot-pattern
            h3.mb-0.animate-text-02B User interfaces, motion and interaction
            h3.mb-0.animate-text-02C User experience research
            h3.mb-0.animate-text-02D Prototyping
          .button-wrapper
            span.oi(data-glyph="chevron-right")

      .board-story
        p.slide-label
          span.blinking-fast [
          span.animate-text-03A occupational status
          span.blinking-fast ]
        .board-story-block
          .story-text.lines-pattern
            h3.mb-0.animate-text-03B Fulltime / freelance
          .button-wrapper
            span.oi(data-glyph="chevron-right")

  .col-md-4.image-side
    .lines-pattern.arrow-right-slide( onClick="prlx.setSlide(2)" )
      img.arrow-img.blinking(src="/img/arrow-right.png")
