@import "./bootstrap/bootstrap";

.container {
  background-color: $gray-100;
  color: $gray-800;
  padding: 1rem;
  border-radius: 3px;
}

.img-container {
  position: relative;
  img {
    position: relative;
    width: 100%;
  }
}
